<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>INT 3305 - Assigment 01</h1>

  <h2>
    This is the home page, student can see all books. Admin can see and update book.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
