<footer class="footer">
  <small>
    The <a href="#">Assignment 01 - SOA</a>
    by <a href="#">Group 13</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>